<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body data-spy="scroll" data-target="#overview" data-offset="50">
  <div class="container-fluid">
    <div class="row" style="display: flex; justify-content: stretch;">
      {% include header.html %}

      {% assign split_url = page.url | split: '/' %}
      {% assign name_no_md = split_url[-1] | replace: '.html','' %}
      {% assign released_mps = site.data.assignments['mps'] | where: "visible", "false" %}
      {% assign released_labs = site.data.assignments['labs'] | where: "visible", "false" %}
      {% assign not_released = released_mps | concat: released_labs | where: "url", name_no_md | size %}

      <div class="row">
        <div class="col-sm-3 col-xs-12 hidden-xs" style="min-height: 100%">
          <nav id="overview" data-toggle="toc" class="sticky-top"></nav>
        </div>
        <div class="col-sm-9 col-xs-12">
          {% if not_released == 0 %}
          <div class="title">
            {% assign assign_data = site.assign_by_url[name_no_md] %}
            <h1>
              {{ page.title }}
            </h1>
          </div>
          <div class="content col-sm-11 .col-sm-offset-1">
            {% if assign_data.submissions %}
            <div class="submission-wrapper">
              {% for submission in assign_data.submissions %}
              <b>{{ submission.title }}</b> due <b>{{ submission.due_date }}</b><br />
              {% if submission.graded_files %}
              <b>Graded files:</b>
              <ul>
                {% for graded_file in submission.graded_files %}
                <li>{{ graded_file }}</li>
                {% endfor %}
              </ul>
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="hidden-sm hidden-md hidden-lg">
            {% if page.toc != false %}
            {{ content | toc }}
            {% endif %}
          </div>
          <div id="content">
            {% include doc_header.html %}
            {{ content | content_style }}
            {% capture doc_footer %}{% include doc_footer.md %}{% endcapture %}
            {{ doc_footer | markdownify | content_style }}
          </div>
          <div class="col-md-2 col-sm-1 col-xs-0"></div>
        </div>
        {% else %}
        <div style="text-align: center; padding: 50px 20px;">
          <h2>🚧 Under Construction 🚧</h2>
          <p>This page is not yet available. nothing to see here :]</p>
          <img src="https://imgs.xkcd.com/comics/unreachable_state.png" alt="XKCD Unreachable State"
            style="max-width: 100%; height: auto;">
          <p style="font-size: 0.9em; color: #666; margin-top: 10px;">
            from <a href="https://xkcd.com/2200/" target="_blank" rel="noopener">xkcd.com</a>
          </p>
        </div>
        {% endif %}
      </div>
      {% include footer.html %}
    </div>
  </div>
  </div>
  <script type="application/javascript">
    var github_repo = "{{ site.repository | escape }}";
    var github_path = "{{ page.path | escape }}";
  </script>
</body>

</html>